.header
{
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 20px;
    font-size: 20px;
}
.header-element
{
    margin-left: 5%;
    margin-right: 5%;
    color: #FFCB9A;
    text-decoration: none;
    text-transform: uppercase;
}
.header-element:hover
{
    color: #116466;;
}
.header-element-active
{
    color: #b38e6d;
}
.header-element-active:hover
{
    color: #b38e6d;
}